@import "tailwindcss";

@theme {
  --color-rimbun-teal: #006B5D;
  --color-rimbun-lightTeal: #E6F0EE;
  --color-rimbun-yellow: #F2B827;
  --color-rimbun-purple: #9882E0;
  --color-rimbun-blue: #6FB3D2;
  --color-rimbun-pink: #F47C7C;
  --color-rimbun-bg: #F9FAF8;
}